[Unit]
Description=Backend service for TeamBiene
After=network.target

[Service]
User=bee
WorkingDirectory=/home/bee/teambiene/backend
ExecStart=/bin/bash -c 'npm run develop'
Restart=always

[Install]
WantedBy=multi-user.target